.formInput {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.formInput label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.formInput input {
  padding: 0.3rem;
  border: 2px solid var(--color-primary);
  font-size: 1rem;
  width: 90px;
  border-radius: 3px;
}

.formButton {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  font-size: 1rem;
  background-color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 600;
  width: 70%;
  padding: 0.3rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

@media (hover: hover) {
  .formButton:hover {
    cursor: pointer;
  }
}

.formButton:active {
  background-color: var(--color-primary);
  color: #fff;
  border: 2px solid #fff;
}
