.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.header span {
  font-weight: 700;
  color: var(--color-primary);
}

.beamLayout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.beamData {
  display: flex;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
}

.beamImage {
  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
}

.beamImage img {
  width: 180px;
}
