.containerData {
  display: block;
}

.containerData h2 {
  display: flex;
  justify-content: center;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.beamData {
  display: flex;
  margin: 0 1rem;
  padding: 0.1rem;
}

.beamImage {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
}

.beamImage img {
  width: 190px;
}
