.containerResults {
  display: block;
  font-weight: 600;
  padding-left: 1rem;
}

.containerResults h2 {
  display: flex;
  justify-content: center;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.beamResults {
  display: flex;
  margin: 0 1rem;
  padding: 0.1rem;
}
